nav>.row {
    height: 100px;
}

nav:hover>.row {
    background-color: #e4faff;
}

nav ul {
    padding: 10 0px;
    line-height: 100px;
}

.jumbotron {
    width: 100%;
    overflow: auto;
    border-radius: 0px;
    height: 50vh;
    
    
}

#jumbotron-1{
    
    background-color: #305e6c;
    
}
img{
    background-size: cover;
    
}
footer ul{
    display: inline;
}